*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  font-weight: normal
  outline: none
  padding: 0
  list-style: none

#calculator-app
  font-family: system-ui

.block-disabled
  opacity: .5
  pointer-events: none!important
  filter: grayscale(1)
